body {
    font-family: "Verdana";
    margin-left: 30px;
    margin-top: 15px;
}

table {
    text-align: left;
}

th {
    height: 50px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

td {
    height: 30px;
    padding: 15px;
}

tr:hover {
    background-color: #f5f5f5;
}
