<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{tab.title}">Offline</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h2 th:text="${message}"></h2>

<form action="login" method="POST">
    <label for="username_field"> User name: </label>
    <input id="username_field" type="text" name="username" required/> <br/>
    <label for="password_field"> User password: </label>
    <input id="password_field" type="password" name="password" required/><br/>
    <label class="login_field"> </label>
    <input type="submit" value="OK"/>
</form>

</body>
</html>