<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{tab.title}">Offline</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<h2 th:text="#{title}"></h2>
<form method="post" action="give.details">
    <table>
        <thead>
        <tr>
            <th th:text="#{table.eagle.column}"></th>
            <th th:text="#{table.scientific.name}"></th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="eagle:${eagles}">
            <td><a th:text="#{name(${eagle.getValue().getDutchName()}, ${eagle.getValue().getEnglishName()})}" th:href="@{/give.details(eagle_species=${eagle.getKey()})}"></a></td>
            <td th:text="${eagle.getValue().scientificName}"></td>
        </tr>
        </tbody>
    </table>
</form>

<br>

<ul th:insert="template :: history"></ul>

</body>
</html>