<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{name(${eagle.dutchName}, ${eagle.englishName})}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<a th:href="@{/home}"}>Home</a>

<h2 th:text="${eagle.scientificName}"></h2>
<img th:src="@{${eagle.image}}" height="300">

<h3 th:text="#{name(${eagle.dutchName}, ${eagle.englishName})}"></h3>
<p th:text="#{'description.' + ${eagle_name}}"></p>


<h3 th:text="#{head.wingspan}"></h3>
<p th:text="${eagle.wingSpan + ' meter.'}"></p>

<br>

<ul th:insert="template :: history"></ul>

</body>
</html>