<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{tab.title}">_offline_</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h3 th:text="#{page.title}">Offline title</h3>
<!--<h1 th:text="${#servletContext.getInitParameter('admin_email')}"></h1>-->
<form method="post" action="give.species">
    <table>
        <thead>
        <tr>
            <th th:text="#{eagle.species}">Eagles</th>
            <th th:text="#{scientific.name}">Scientific name</th>
            <th th:text="#{details}">Information</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="eagle : ${eagles}">
            <td th:text="${eagle.getValue().(dutchName, englishName)}"></td>
            <td th:text="${eagle.getValue().scientificName}"></td>
            <td><a th:href="@{/give.eagle(eagle_species=${eagle.getValue().scientificName})}" th:text="#{click.link}"></a></td>
        </tr>
        </tbody>
    </table>
</form>
<br><br><br>
<div th:replace="template :: history"></div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>