<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div th:fragment="history">
    <h4 th:text="#{history}"></h4>
    <ul>
        <li th:each="eagle : ${session.history}" th:text="${eagle}"></li>
    </ul>
</div>

</body>