<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:fragment="banner(page)">
    <img th:src="@{/graphics/banner.jpg}" height="80px">
    <h1 th:text="#{header}"></h1>
    <h3 th:text="#{header.subtitle(${page})}"></h3>
</div>

<div th:fragment="info" class="dna">
    <img th:src="@{/graphics/dna_ambiguities.png}" height="500px">
    <p>DNA</p>
</div>

<div th:fragment="info" class="protein">
    <img th:src="@{/graphics/amino_acids.png}">
    <p>Amino acids</p>
</div>

</body>
</html>