<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="~{fragments :: banner('sequence view page')}"></div>

<h3><a th:href="@{/create.sequence}">New request</a></h3>

<div th:insert="~{fragments :: (${seq_type.toString() == 'dna'} ? 'info.dna' : 'info.protein')}"></div>

<div th:each="seq, it_stat : ${sequences}">
    <p th:text="'Sequence ' + ${it_stat.count} + ' of type ' + ${seq_type}"></p>
    <p th:text="${seq}"></p>
    <br>
</div>

</body>
</html>