<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div th:insert="~{fragments :: banner('sequence request form')}"></div>
<h3 th:text="${message}"></h3>
<form action="create.sequence" method="post">

    <span th:text="#{select}"></span>
    <select name="seq_type">
        <option th:text="#{dna}" value="dna">DNA</option>
        <option th:text="#{rna}" value="protein">RNA</option>
    </select>
    <br>
    <label for="seq_length" th:text="#{seq.length}"></label>
    <input id="seq_length" type="number" name="seq_length">
    <br>
    <span for="seq_number" th:text="#{seq.number}"></span>
    <input id="seq_number" type="number" name="seq_number">
    <br>
    <input type="submit" th:value="#{button}">
</form>

<ol th:each="item, it_stat:${#session.getAttribute('history')}">
    <li th:text="${it_stat.count} + ': ' + ${item.type} + ' | ' + ${item.length} + ' | ' + ${item.number}"></li>
</ol>

</body>
</html>