<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{tab.title}">_offline_</title>
</head>
<body>
<h3 th:text="#{page.title}">Offline title</h3>

<p th:text="#{form.description}">Offline description</p>

<form action="heart-rate-zones" method="post">
    <input name="max_heart_rate" type="number" value="180" min="20" max="300">
    <input type="submit" th:value="#{submit.button}">
</form>

</body>
</html>