<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="#{tab.title}">_offline_</title>
</head>
<body>
<h2 th:text="#{page.title}">Offline title</h2>

<h4 th:text="#{zone_1}">Low heart rate</h4>
<p th:text="'Zone 1: ' + ${zone50} + '-' + ${zone60}">50-60%</p><br>
<h4 th:text="#{zone_2}">Positive effect</h4>
<p th:text="'Zone 2: ' + ${zone60} + '-' + ${zone70}">60-70%</p><br>
<h4 th:text="#{zone_3}">Optimal training effect</h4>
<p th:text="'Zone 3: ' + ${zone70} + '-' + ${zone80}">70-80%</p><br>
<h4 th:text="#{zone_4}">Improving speed for running</h4>
<p th:text="'Zone 4: ' + ${zone80} + '-' + ${zone90}">80-90%</p><br>
<h4 th:text="#{zone_5}">Above anaerobic threshold</h4>
<p th:text="'Zone 5: ' + ${zone90} + '-' + ${zone100}">90-100%</p>

</body>
</html>